[submodule "src/vcglib"]
	path = src/vcglib
url=git@github.com:hnxch06/vcglib.git
	branch = devel
[submodule "src/external/nexus"]
	path = src/external/nexus
	url = https://github.com/cnr-isti-vclab/nexus
